/*
  display
  -------
  how the container need to be display in web-document
  display:inline;
  display:block;
  display:inline-block;
  display:none;
  display:flex;
  display:grid;
 */
 /* div{
  background-color: lightblue;
  width: 200px;
  height: 200px;
  display: inline-block;
  display: none;
  visibility: hidden;
 }
 span{
  background-color: lightgray;
  width: 200px;
  height: 200px;
  display: inline-block;
 } */


 .container{
  width: 1000px;
  /* height: 400px; */
  /* border: 2px solid; */
 }
 .item{
  width: 200px;
  /* border: 2px solid; */
  display: inline-block;
  padding: 10px;

 }
 .item>p{
  padding: 10px;

 }
 img{
  width: 100%;
 }
 