/*
colors
    3 types
variables
gradients
    3 types 
animations
media Q
transforms
attribute selector
calc

 */
 .container{
  border: 2px solid black;
  display: grid;
  /* gap: 5px; */
  grid-template-columns: repeat(3,200px);
  /* grid-template-rows: ; */
  justify-content: space-around;
  align-items: end;
  /* align-content: end; */
 
    height: 700px;
 }
 
 .item-1{
  background-color: antiquewhite;
  /* grid-area: a; */

 }
 .item-2{
  background-color: lightblue;
  /* grid-area: b; */
grid-area: 1/2/4/6;
 }
 .item-3{
  background-color: lightcoral;
    /* grid-area: c; */

 }
 .item-4{
  background-color: lightgreen;
    /* grid-area: d; */
 }
 .item-5{
  background-color: rgb(108, 242, 108);
    /* grid-area: e; */
 }
 .item-6{
  background-color: lightskyblue;
    /* grid-area: f; */
 }
 .item-7{
  background-color: rgb(39, 94, 128);
    /* grid-area: g; */
 }
 .item-8{
  background-color: rgb(209, 39, 113);
    /* grid-area: h; */
 }


