/* *{
    background-color: black;
    color: red;
} */


/* .heading{
    color: red;
}
.heading-1,.heading-3{
    color: purple;
    background-color: lightblue
} */

.heading{
    /* text-align: center; */
    /* text-align: right; */
    /* text-align: start; */

}
div{
    background-color: aqua;
    width: 200px;
    height: 200px;
    text-align: justify;
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
}
a{
    text-decoration: none;
}