/*
 RWD
 ---
 1.box-sizing
 2. grid
 3. flex
 4. margin and padding =0
 5. media 
 6. view-port
  syx:
  ----
  @media screen/print/all and (breakPoint){
        selector{
            property:value;
        }
  }
 */
 html{
  height: 100%;
 }
body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  height: 100%;
}
 .container{
  width:300px ;
  height: 300px;
  background-color: red;
  border-radius:50%;
  
 }
/*
mobile view -557px 
tab view- 800px to 900px 
Desktop- 1000px and 1200px
 */

 @media screen and (max-width: 500px) {
    .container{
      background-color: yellow;
      width: 200px;
      height: 200px;
      border: 2px solid black;
      border-radius: 0px;
    }

 }
 @media screen and (min-width: 500px) and (max-width:800px) {
    .container{
      display: none;
    }
 }