/*
pseudo class in css
-------------------
: single column

 */
 /* a:link{
  color: yellow;
 }
 a:hover{
  color: red;
 }
  a:active{
  color: pink;
 }
 a:visited{
  color: rgb(144, 224, 68);
 } */
  
 /* button:active{
  color: red;
 } */
/* p{
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
p{
  color: goldenrod;
  background-color: black;
  border-radius: 10px;
  padding: 10px;
}
h1{
  display: none
}
p:hover+h1{
  display: block;
  background-color: purple;
  color: white;
  padding: 5px;
  border-radius: 10px;
} */
/* p{
  display: none;
} */
#name{
  display: none;
}
#name:checked+p{
  display: block;
}
.image{
  width: 300px;
  height: 200px;
  border: 2px solid;
 
}
.image>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image>img{
  display: none;
}
#a,#b,#c,#d,#e{
  display: none;
}
#a:checked~.image>:nth-child(1){
  display: inline-block;
}
#b:checked~.image>:nth-child(2){
  display: inline-block;
}
#c:checked~.image>:nth-child(3){
  display: inline-block;
}
#d:checked~.image>:nth-child(4){
  display: inline-block;
}
#e:checked~.image>:nth-child(5){
  display: inline-block;
}
.main{
  position: relative;
  
}
.label{
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: space-evenly;
  /* display: inline-block; */
  align-items: center;
  /* width: 100%; */
  height: 100%;
  left: 350px;
  color: white;

}
.label>label{
  width: 30px;
}







/* ul>li:nth-child(1){
  background-color: red;
} */
 /* ul>li:nth-last-child(3){
  background-color: red;
 } */
  /* ul>li:first-child{
    background-color: red;
  }
   ul>li:last-child{
    background-color: red;
   } */






























/* .task{
  background-color: purple;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  border-radius: 10px;
  
}
.bi{
  font-size: xx-large;
  color: white;
  padding: 5px;
} */