/*
    positions in css
    ----------------
    position:static,relative,absolute,sticky,fixed;
    top:value;
    bottom:value;
    left:value;
    right:value;


 */

 .parent{
    border: 2px solid;
    width: 400px;
    height: 400px;
    position: relative;
    /* background-color: red; */
    /* z-index: -1; */
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
    /* bottom: -200px; */
    left: 200px;
    top: 200px;

   
 }
 .child{
    border: 2px solid red;
    width: 150px;
    height: 150px;
    position: absolute;
    /* top: 0; */
    right: 10px;
    bottom: 10px;
 }

 .img{
    width: 300px;
    height: 200px;
    border: 2px solid;
    position: relative;
    top: 100px;
    display: inline-block;
 }
 img{
    width: 100%;
    height: 100%;
 }
 h3{
    position: absolute;
    top: 150px;
    margin: 0;
    margin-left: 15px;
    /* background-color: lightblue; */
    width: 100%;
    text-align: center;
    color: rgb(228, 8, 8);
    letter-spacing: 40px;
    /*            x   y   blur  color   */
    text-shadow: 2px 10px 5px black;
 }
