/*
absolute
and 
relative

fixed
sticky

 */
 /* body{
   background-color: black;
 }
 .nav{
   background-color: purple;
   color: white;
   padding: 20px;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: +1;
 }
 .home{
   margin-top: 60px;
 }
 .item{
   margin-left: 200px;
 }
 h1{
   text-align: center;
   background-color: red;
   position: sticky;
   top: 60px;
 }
 p{
   color: white;
 } */


 /*
 2. combinators and pseudo class 
 --------------
 in combinators there are 4 types of combinators in css
 1. child selector--------(>)
      the child selector will access 
      the child's of the parent
      and it will access directly
 2. decadent selector------( ) (space)
       the decadent selector will access 
      the child's of the parent
      and it will access directly and indirectly
 3. next sibling selector | adjacent sibling selector-------(+)
      what is mean by siblings ?
      sister
      brothers

 4. general sibling selector---------(~)


 stx:
 ---
 simpleSelector combinator simpleSelector{
                     property:value;
                        }


  */
div>span+p{
   color: red;
   background-color: purple;
}