/*
  display
  -------
  how the container need to be display in web-document
  display:inline;
  display:block;
  display:inline-block;
  display:none;
  display:flex;
    one dimensional row are column
                     x        y

      1. parent pro


      2. child pro


  display:grid;
 */
  .container{
    display: flex;
    gap: 5px;
    border: 3px solid;
    /* height: 500px; */
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    align-items: center;
  }
 .item{
  font-size: xx-large;
  /* padding: 10px; */
  width: 200px;
  height: 200px;
  /* width: 400px; */
  /* width: 0px; */
  text-align: center;
  /* flex-shrink: 0; */
  /* flex-basis: 0px; */
  /* flex-basis: 300px;
  flex-flow: 200px; */

  
 }
 .item-1{
  background-color: lightblue;
  /* flex-shrink: 1; */
  /* flex-grow: 1; */
  /* order:-1; */
  align-self: self-start;
 }
 .item-2{
  background-color: lightgray;
  /* flex-grow: 1; */
  /* order: +1; */
 }
.item-3{
  background-color: lightslategray;
  /* flex-shrink: 2; */
  /* flex-grow: 1; */
  /* order: -1; */
  align-self: self-start;
}
.item-4{
  background-color: lightsalmon;
  /* flex-grow: 1; */
}
.item-5{
  background-color: lightsteelblue;
  /* flex-grow: 1; */
  /* order: 1; */
  align-self: self-end;
}
.item>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}




























/* .task{
  background-color: purple;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  border-radius: 10px;
  
}
.bi{
  font-size: xx-large;
  color: white;
  padding: 5px;
} */